@model Shared.Models.UserPlan

<form asp-action="Checkout">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Checkout</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="PlanType" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PlanType" class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" class="form-control" />
            </div>
           

            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="Home" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="CheckOut" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
