@use "../../../helper/style" as *;


.peopleGrid{
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(11.4rem, auto);
  gap: 1rem;
  margin: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex: 4;
}