@use "../../../helper/style" as *;

.meetingChat{
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: $secondColor;
  height: calc(100vh - 120px);
  overflow-y: auto;


  .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  

}