@use "../../helper/style" as *;

.sidebar{
    background-color: #1b1b1b;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    flex: 1;
    transition: 0.7s linear;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;
        li {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .control{
                display: flex;
                justify-content: space-between;
                .bar{
                    visibility: hidden;
                    transition: 0.7s linear;
                }
                .close{
                    visibility: visible;
                    transition: 0.7s linear;
                }
            }
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 5px;
                color: $fifthColor;
                svg{
                    font-size: 30px;
                }
                .text{
                    transition: 0.7s linear;
                    margin-left: 25px;
                }
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                &:hover{
                    background-color: $fifthColor;
                    color: $firstColor;
                    border-radius: 10px;
                }
            }
            .active{
                background-color: $fifthColor;
                color: $firstColor;
                border-radius: 10px;
            }
        }
    }
}
.sidebarResponsive{
    flex: 0;
    transition: 0.7s linear;
    .showBar{
        visibility: visible;
        transition: 0.7s linear;
    }
    .hideClose{
        display: none;
        transition: 0.7s linear;
    }
    .hideText{
        font-size: 0;
        transition: 0.7s linear;
        margin-left: 0;
    }
}