@use "../../helper/style" as *;

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  background-color: $secondColor;
  border-radius: 10px;
  color: white;
  .content {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .meeting,
    .post,
    .member {
      display: flex;
      justify-content: space-between;
    }
    .join {
      align-self: flex-end;
    }
    .msg {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
    // div {
    //   &:first-child {
    //     font-size: 20px;
    //   }
    //   &:last-child {
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     width: 100px;
    //   }
    // }
  }
}
