@use "../../helper/style" as *;

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  background-color: $secondColor;
  border-radius: 10px;
  color: white;
  border: 1px solid $thirdColor;
  text-decoration: none;
  cursor: pointer;
  .content {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
    .meeting,
    .post,
    .member {
      display: flex;
      justify-content: space-between;
    }
    .join {
      align-self: flex-end;
    }
    .msg {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
    .btn{
      @include Btn(100px, fit-content, 10px, 10px, $fourthColor, $fifthColor, 16px);
      @media screen and (max-width: 480px) {
        width: 50px;
        font-size: 12px;
      }
    }
    // div {
    //   &:first-child {
    //     font-size: 20px;
    //   }
    //   &:last-child {
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     width: 100px;
    //   }
    // }
  }
}
