@use "../../helper/style" as *;

.typingBar{
  background-color: $firstColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.7rem;
  gap: 1rem;


  input {
    flex: 1;
    border-radius: 0.3rem;
    padding: 0.7rem 0.4rem;
    background-color: $secondColor;
    border: none;
    color: $fifthColor;
    font-size: 1.1rem;
    box-shadow: 0px 0px 5px 1px black;

    &:focus{
      outline: none;
    }

    &::placeholder{
      color: $thirdColor;
      padding: 1rem;
    }
  }

  button{
    background-color: $firstColor;
    color: $fifthColor;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

}















