@use "../../helper/style" as *;

.showAnimation,
.hideAnimation {
    width: 80%;
    background: url(../../assets/search.png) no-repeat 98% center;
    background-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 25px;
    box-shadow: 0px 0px 5px 1px black;
    color: $fifthColor;
    transition: width 0.4s ease-in-out;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    &::placeholder{
        color: $fifthColor;
    }
  }

.showAnimation{
    &:focus{
        width: 100%;
        outline: none;
    }
}  