@use "../../helper/style" as *;

.chat {
  flex: 4;
  display: flex;
  height: calc(100vh - 50px);
  .chat-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $firstColor;
    overflow-y: auto;
    @media screen and (max-width: 480px) {
      display: none;
    }
    .messages {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }
  }
}
