.recentactivities{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 900px;
    @media screen and (max-width: 800px) {
        width: 90%;
    }

}