@use "../../helper/style" as *;

.settingsPage {
  display: flex;
  flex: 4;
  background-color: $firstColor;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  .sidebar{
    flex: 1;

    ul{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      li{
        margin-top: 10px;
        button, 
        .active{
          padding: 10px;
          background: transparent;
          border: none;
          border-bottom: 1px solid $fifthColor;
          color: $fifthColor;
          cursor: pointer;
          &:hover{
            border-bottom: 1px solid $firstColor;
            background: $fifthColor;
            color: $firstColor;
          }
        }
        .active{
          border-bottom: 1px solid $fourthColor;
        }
      }
    }
  }

  .settings {
    background-color: $secondColor;
    color: $fifthColor;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;

    .buttonsContainer {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      button:first-child {
        background-color: $firstColor;
        color: $fifthColor;
        padding: 0.5rem 0rem;
        border-radius: 0.4rem;
        font-size: 1.3rem;
        flex: 1;
      }

      button:last-child {
        background-color: $fifthColor;
        color: $firstColor;
        padding: 0.5rem 0rem;
        border-radius: 0.4rem;
        font-size: 1.3rem;
        flex: 1;
      }
    }
  }
}
