@use "../../../helper/style" as *;

.MeetingMembers{
  flex: 1.5;
  display: flex;
  flex-direction: column;

  position: relative;
  background-color: $secondColor;
  height: calc(100vh - 120px);
  overflow-y: auto;
  
  
  

}