@use "../../helper/style" as *;


.callPage {
  flex: 4;

  position: relative;
  background-color: $firstColor;
  color: $fifthColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;

  .content {
    display: flex;
    height: 100%;

    // .side {
    //   flex: 1.5;
    // }
    
  }



  
  
  

}