@use "../../helper/style" as *;


.meetingPage {
  flex: 4;

  position: relative;
  background-color: $firstColor;
  color: $fifthColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: auto;

  

}