.logo {
  font-family: "Leckerli One", cursive;
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 0.25rem;
}

a {
  text-decoration: none;
}

.registerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 40px);
  background: #1B1B1B;
  color: #E2E0E3;
}
.registerContainer .registerContainerLeft {
  width: 50%;
  height: 70%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.registerContainer .registerContainerLeft .registerHeaders {
  margin-bottom: 100px;
}
.registerContainer .registerContainerLeft .registerHeaders h1 {
  font-size: 3.2rem;
}
.registerContainer .registerContainerLeft .registerHeaders p {
  margin-top: 10px;
  font-size: 1.5rem;
}
.registerContainer .registerContainerLeft .registerToolbox .joinMeetingWithCode {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.registerContainer .registerContainerLeft .registerToolbox button {
  background-color: #A379DE;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: white;
}
.registerContainer .registerContainerLeft .registerToolbox input {
  background-color: #656366;
  color: #DCDCDC;
  outline: none;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.7rem 2rem;
  width: 60%;
  margin-right: 1.2rem;
}
.registerContainer .registerContainerLeft .registerToolbox input::-moz-placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerLeft .registerToolbox input:-ms-input-placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerLeft .registerToolbox input::placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #262427;
  margin: 2rem;
  width: 40%;
  height: 70%;
  border-radius: 10px;
}
.registerContainer .registerContainerRight .loginInputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerContainer .registerContainerRight .loginInputFields h1 {
  font-size: 2.5rem;
  text-align: center;
}
.registerContainer .registerContainerRight .loginInputFields input {
  background-color: #656366;
  color: #DCDCDC;
  outline: none;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.7rem 2rem;
  width: 60%;
  width: 70%;
  margin-top: 1rem;
}
.registerContainer .registerContainerRight .loginInputFields input::-moz-placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerRight .loginInputFields input:-ms-input-placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerRight .loginInputFields input::placeholder {
  color: #DCDCDC;
  opacity: 1;
}
.registerContainer .registerContainerRight .loginInputFields p {
  text-align: center;
  color: rgb(214, 214, 2);
  padding: 0px;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.registerContainer .registerContainerRight .signUpButtons {
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.registerContainer .registerContainerRight .button {
  background-color: #A379DE;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: white;
}
.registerContainer .registerContainerRight .secondButton {
  background-color: #E2E0E3;
  color: #262427;
  padding: 0.6rem 2rem;
}/*# sourceMappingURL=register.css.map */