@use "../../helper/style" as *;

.channelsPage {
  flex: 4;
  display: flex;
  background-color: $firstColor;
  color: $fifthColor;
  
  
  .channel-section{
    flex: 3;
    display: flex;
    flex-direction: column;
    
    .top {
      .btns {
        width: 95%;
        margin: 10px auto;
        button {
          @include Btn(150px, fit-content, 10px, 10px, $thirdColor, $fifthColor, 16px);
          &:first-child{
            margin-right: 10px ;
          }
        }
      }

    }



  }


}