@use "../../../../helper/style" as *;

.cardJoinMeetingCarousel{
    border: 1px solid $fifthColor;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    gap: 10px;
    .content{
        display: flex;
        flex-direction: column;
        color: $fifthColor;
        font-size: 18px

    }
    button{
        @include Btn(100px, fit-content, 10px, 10px, $fourthColor, $fifthColor, 16px);
        align-self: flex-end;
        @media screen and (max-width: 480px) {
          width: 50px;
          font-size: 12px;
        }
      }
}