
@mixin loginInputMix{
  background-color: #656366;
  color: #DCDCDC;
  outline: none;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.7rem 2rem;
  width: 60%;
}

@mixin loginButtonMix{
  background-color: #A379DE;
  padding: 0.7rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.hrLogin{
  display: block;
  height: 1px;
  padding: 0;
  border: 0; 
  border-top: 1px solid #353535;
}


.loginContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 52px);
  background: #1B1B1B;
  color: #E2E0E3;


    .left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 70%;
      margin: 2rem;
    

      .container{
        display: flex;
        flex-direction: column;
        h1{
          font-size: 3.2rem;
        }
        p {
          margin-top: 10px;
          font-size: 1.5rem;
        }

      }
  }


  .right{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    justify-content: space-between; //! test
    background-color: #262427;
    margin: 2rem;
    width: 40%;
    height: 70%;
    border-radius: 10px;
    
    .inputFields{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px; //! test
      
      h1{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 10px;
      }

      input{
        @include loginInputMix();
        margin-top: 2rem;
        width: 75%;
      }

      input::placeholder { 
        color: #DCDCDC;
        opacity: 1; 
      }

      p{
        text-align: center;
        color: rgb(214, 214, 2);
        padding: 0px;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      button{
        @include loginButtonMix();
        margin-top: 40px;
      }
    }

    .linksContainer{
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin: 3rem 0rem;
      
      .activeLink{
        // background-color: #656366;
        background-color: #1B1B1B;
        color: white;
        cursor:not-allowed;
      }
      
      a{
        @include loginButtonMix();
        background-color: #fff;
        color: #262427;
        padding: 0.6rem 5rem;
        text-decoration: none;
      }
    }


  }




  
}
