@use "../../../helper/style" as *;

.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  button {
    @include Btn(
      fit-content,
      fit-content,
      10px,
      10px,
      $fourthColor,
      $fifthColor,
      16px
    );
    // align-self: flex-end;
    align-self: center;
    @media screen and (max-width: 480px) {
      width: 50px;
      font-size: 12px;
    }
  }
}

.centerDiscover {
  justify-content: center;
  button {
    padding: 1.2rem 2rem;
    background-color: $fifthColor;
    color: $firstColor;
  }
}
