@use "../../../helper/style" as *;


.meetingPersonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondColor;
  color: $fifthColor;
  border-radius: 1rem;
  gap: 0.3rem;
  padding: 1rem;


}