@use "../../helper/style" as *;

.resetpassword {
  background-color: $firstColor;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: $fifthColor;
  }
  form {
    width: 40vw;
    height: calc(60vh - 50px);
    background-color: $secondColor;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: example 2s linear 0s 1 alternate;
    color: white;
    h1 {
    }
    .input {
      width: 70%;
      display: flex;
      flex-direction: column;
      textarea{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        border-bottom: 1px solid $thirdColor;
        border-radius: 4px;
        // background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        margin-bottom: 20px;
        &:focus {
          outline: none;
        }
      }
      input {
        background-color: $secondColor !important; 
        color: $fifthColor !important;
        border: none;
        border-bottom: 1px solid $thirdColor;
        height: 100%;
        &::placeholder {
          color: #dcdcdc;
          opacity: 1;
        }
        &:focus {
          outline: none;
        }
      }
      p {
        color: $fifthColor;
      }
    }
    button {
      background-color: $fourthColor;
      border-radius: 20px;
      color: $fifthColor;
      cursor: pointer;
      align-self: center;
      padding: 10px;
      border: none;
      width: 25%;
    }
    @keyframes example {
        0%   {opacity: 0, }
        50%  {opacity: 0.5}
        100% {opacity: 1}
      }
  }
}
