@use "../../helper/style" as *;

.home {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color: $firstColor;
  .btns {
    width: 95%;
    margin: 10px auto;
    button {
      @include Btn(150px, fit-content, 10px, 10px, $thirdColor, $fifthColor, 16px);
      &:first-child{
        margin-right: 10px ;
      }
    }
  }
}
