@use "../../helper/style" as *;

.home {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color: $firstColor;
  align-items: center;
  .btns {
    width: 95%;
    margin: 10px auto 2rem;
    display: flex;

    button {
      @include Btn(150px, fit-content, 0, 10px, transparent, $tenthColor, 16px);
      &:first-child{
        margin-right: 10px ;
      }
      &:hover {
        background-color: $ninthColor;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 14px;
        height: 100%;
      }
    }
  }
}
