@use "../../helper/style" as *;


.callToolsBar{
  display: flex;
  justify-content: space-between;
  background-color: $firstColor;
  color: $fifthColor;
  padding: 1rem 1rem;
  font-size: 2rem;

  position: sticky;
  bottom: 0;
  z-index: 1000;
  
  .left{
    background-color: $secondColor;
    padding: 0.7rem 3rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
  }  

  .middle{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -9rem;
  }

  .right{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  
}