@use "../../helper/style" as *;

.profilebar{
    display: flex;
    justify-content: space-between;
    background-color: $secondColor;
    height: 50px;
    padding: 10px;
    .left{
        display: flex;
        align-items: center;
        span{
            margin-left: 10px;
            font-weight: 800;
            color: $fifthColor;
        }
    }
    .right{
        svg{
            font-size: 30px;
            color: $fifthColor;
            &:first-child{
                margin-right: 10px;
            }
        }
    }
}