@use "../../helper/style" as *;

.profilebar{
    display: flex;
    justify-content: space-between;
    background-color: $secondColor;
    height: 70px;
    padding: 10px;
    .left{
        display: flex;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            span{
                margin-left: 15px;
                font-weight: 800;
                color: $fifthColor;
                &:last-child{
                    color: $fourthColor;
                    font-weight: 600;
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        svg{
            font-size: 30px;
            color: $fifthColor;
            &:first-child{
                margin-right: 10px;
            }
        }
    }
}